body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(26, 78, 131);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  background-color: pink;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="radio"],
input[type="number"],
input[type="checkbox"],
select {
  margin-bottom: 15px;
}

#invoice {
  margin-top: 30px;
  border-top: 2px solid #ddd;
  padding-top: 30px;
}

.hidden {
  display: none;
}

.smoothie-description {
  display: flex;
  align-items: center;
}

